# data files
*.xlsx
*.json
*.vtk
*.vtk.*
*.vtp
*.pvtu
*.vtu
*.csv
*.vtu.*
*.pvd
*.pvsm
.idea
*.ply.*
#excecutive and object files
*.o
#MAP
*.pts
*.kdt
*.ga
*.sum
*.kml

*.DS_Store
*.swp
.qcc*
# archives
*.rar
*.zip
*.tar
*.gz
*.bz2
*.7z

# images and documents
*.png
*.jpg
*.pdf
*.eps
*.ps
*.mp4
*.mpg
*.avi
*.gif
*.wmv
*.aux
*.bbl
*.blg
*.toc
*.ppm*

# src files
*.a
qcc
*.d
*.dSYM
Makefile.tests
Makefile.deps
qplot
draw_get.h
draw_json.h
bview
# ast
grammar
grammar.h
# kdt
kdtquery
xyz2kdt

# darcsit/
codeblock.c
codeblock
lex.yy.c
literate-c
literate-c.c
urldecode
pagemagic
sanitize
bview.log~

# basilisk execution files
Makefile.deps
config
page2html
ppm2gif
ppm2mp4
ppm2mpeg
ppm2ogv
runtest
sequence
